<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Minified version of simple.css -->
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

    <!-- htmx library -->
    <script 
      src="https://unpkg.com/htmx.org@2.0.1" 
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" 
      crossorigin="anonymous">
    </script>

    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock title %}</title>
    {% endblock head %}
</head>
<body>
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        {% block footer %}
        <h1 style="font-size: small;">Site Map</h1>
            <a href="./index.html">Home</a>
            <a href="../page_1/index.html">Test</a>
        {% endblock footer %}
    </div>
</body>
</html>